.legendLabel{
	text-align: left;
	padding-left:10px;
	font-weight: bold;
}
.chart-container{
	background-color: #333333;
	padding: 10px;
	border-radius: 8px;
}
.chart-wrap{
	position: relative;
}
.chart-container .legend tr{
	padding-bottom:3px;
}
.loading{
	height: 50px;
	margin: 0 auto;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
}
.loading img{
	width: 50px;
	height: 50px;
}
.loading span{
	width: 100%;
	display: block;
	color: #fff;
}
/*
RESPONSIVE TUR

chart height
loading width
*/